<%= form_for object do |f| %>
  <% if f.object.errors.present?%>
    <div style="color: red">
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <br>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <% if !@user.persisted? %>
    <div>
      <%= f.label :password%><br>
      <%= f.text_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %><br>
      <%= f.text_field :password_confirmation  %>
    </div>
  <% end %>
  <%= f.check_box :admin %>
  <%= f.label :admin%>
  <div>
    <%= f.submit %>
  </div>
<% end %>
