<div>
  <strong>Username: </strong><%= user.username %> <br>
  <strong><%= link_to 'Characters:', user_characters_path(user) %> </strong> Has <%= pluralize(user.characters.count, 'Character') %> <br>
  <% if characters %>
    <div>
      <ul>
        <% characters.each do |character| %>
          <li><%= link_to character.name, user_character_path(user, character) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <strong>Parties:</strong> A member of <%= pluralize(user.parties.count, 'Party') %>
  <% if parties %>
    <div>
      <ul>
        <% parties.each do |party| %>
          <li><%= link_to party.name, '/' %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
