<%= form_for [:admin, race] do |f|%>
  <% if f.object.errors.present?%>
    <div style="color: red">
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <br>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label 'Name:'%><br>
    <%= f.text_field :name%> <br>
  </div>
  <div>
    <h2>Racial Bonus</h2>
    <%= f.fields_for :benefits do |field|%>
      <%= render 'benefit', f: field %>
    <% end %>
  </div>
  <%= f.submit%>
<% end %>
