<div>
  <strong>Abilities:</strong> <br>
  <table>
    <tr>
      <th> </th>
      <% character.abilities.each do |ability| %>
        <th><%= ability.name %></th>
      <% end %>
    </tr>
    <tr>
      <th><strong>Score:</strong></th>
      <% character.abilities.each do |ability| %>
        <td><%= ability.value %></td>
      <% end %>
    </tr>
    <tr>
      <th><strong>Race Bonus:</strong></th>
      <% character.abilities.each do |ability|%>
        <% if character.benefits[0].name == ability.name %>
          <td><%= character.benefits[0].value %></td>
        <% elsif character.benefits[1].name == ability.name %>
          <td><%= character.benefits[1].value %></td>
        <% else %>
          <td> - </td>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th><strong>Total:</strong></th>
      <% character.abilities.each do |ability| %>
        <% if character.benefits[0].name == ability.name %>
          <td><%= ability.value + character.benefits[0].value %></td>
        <% elsif character.benefits[1].name == ability.name %>
          <td><%=  ability.value + character.benefits[1].value %></td>
        <% else %>
          <td> <%= ability.value %> </td>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th><strong>Modifier:</strong></th>
      <% character.abilities.each do |ability| %>
        <td><%= ability.modifier %></td>
      <% end %>
    </tr>
  </table>
</div>
