<h1><%= @character.name %>'s Info</h1>
<%= render 'abilities', character: @character %>
<%= render 'character', character: @character %>
<%= render 'party', character: @character %>
<div>
  <% if @character.user == current_user %>
    <%= link_to "Edit #{@character.name}", edit_user_character_path(@character.id) %>
    <%= button_to 'Delete Character', character_path, method: :post %>
  <% end %>
</div>
